In [1]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

Khansa Bashira Pondavi
I0322136
D

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [16]:
p = 11
l = 1.99
t = 25.87

DD = (p*p + t*t)**1/2
DS = (l*l + t*t)**1/2
DB = (p*p + l*l)**1/2
LP = (2*(p*l + p*t + l*t)) - (p*l)

print("jawaban no 1")
print("diagonal sisi depan aquarium: " + str(DD))
print("diagonal sisi belakang aquarium: " + str(DD))
print("diagonal sisi kanan aquarium: " + str(DS))
print("diagonal sisi kiri aquarium: " + str(DS))
print("diagonal sisi bawah aquarium: " + str(DB))
print("luas permukaan aquarium: " + str(LP))

jawaban no 1
diagonal sisi depan aquarium: 395.12845000000004
diagonal sisi belakang aquarium: 395.12845000000004
diagonal sisi kanan aquarium: 336.60850000000005
diagonal sisi kiri aquarium: 336.60850000000005
diagonal sisi bawah aquarium: 62.48005
luas permukaan aquarium: 693.9925999999999

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [4]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

In [18]:
print("jawaban no 2")

Frank = 80
Abagnale = 75
Cobb = 90
Andy_Dufresne = 85
Ariadne = 70

hasil = (Frank + Abagnale + Cobb + Andy_Dufresne + Ariadne)/5
print("Nilai rata-rata semua mahasiswa adalah: " + str(hasil))

a = [Frank, Abagnale, Cobb, Andy_Dufresne, Ariadne]
print("Nilai tertinggi adalah: ", max(a))
print("Nilai terendah adalah: ", min(a))

jawaban no 2
Nilai rata-rata semua mahasiswa adalah: 80.0
Nilai tertinggi adalah:  90
Nilai terendah adalah:  70

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [19]:
print("jawaban no 3A")

list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]

for i in range (1,len(list_aslab)):
    print("Asisten Laboratorium POSI ke", i+1, "sebagai berikut", list_aslab[i])

jawaban no 3A
Asisten Laboratorium POSI ke 2 sebagai berikut {'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX'}
Asisten Laboratorium POSI ke 3 sebagai berikut {'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX'}
Asisten Laboratorium POSI ke 4 sebagai berikut {'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX'}
Asisten Laboratorium POSI ke 5 sebagai berikut {'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX'}
Asisten Laboratorium POSI ke 6 sebagai berikut {'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX'}

In [20]:
print ("jawaban no 3b")

list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]

for i in range (0,len(list_aslab)):
    list_aslab[i].update({"surel": surel[i]})
    print("Asisten Laboratorium POSI ke", i+1, "sebagai berikut", list_aslab[i])

jawaban no 3b
Asisten Laboratorium POSI ke 1 sebagai berikut {'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}
Asisten Laboratorium POSI ke 2 sebagai berikut {'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}
Asisten Laboratorium POSI ke 3 sebagai berikut {'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}
Asisten Laboratorium POSI ke 4 sebagai berikut {'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}
Asisten Laboratorium POSI ke 5 sebagai berikut {'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}
Asisten Laboratorium POSI ke 6 sebagai berikut {'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'}